torch==2.7.1
torchvision==0.22.1
ultralytics==8.3.162
opencv-python==4.11.0.86
numpy==2.2.6
pandas==2.3.0
matplotlib==3.10.3
scipy==1.15.3
tqdm==4.67.1
PyYAML==6.0.2
requests==2.32.4
protobuf==6.31.1
typing_extensions==4.14.0
pillow==11.3.0
onnxruntime==1.22.0
ultralytics-thop==2.0.14
